<div class="container main-container">
    <h1 class="display-4 py-2 text-center">MERCI DE VOTRE COOPÉRATION</h1>
    <h4 class="dislay-6 py-2 text-center">Rendez vous sur <a href="https://maakyo.com">Maakyo</a> pour en savoir plus sur nos differentes solutions</h4>
</div>