<div class="container main-containert">
    <h1>Editing Customer</h1>

    <%= render 'form', customer: @customer %>

    <%= link_to 'Voir', [@location, @customer] %> |
    <%= link_to 'Retour', location_customers_path(@location) %>
</div>