<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
    <h1 class="display-4 py-2 text-truncate">Nouveau client</h1>

    <%= render 'form', customer: @customer %>

    <%= link_to 'Retour', location_customers_path(@location) %>
</div>