<footer id="footer" class="footer footer-inverse">
    <div class="footer-bottom py">
        <div class="container">
            <div class="row cols-xs-space col-sm-space align-items-center">
                <div class="col-lg-1">
                    <div class="text-center">
                        <ul class="footer-menu footer-menu-sm">
                          <p>Propulsé par Maakyo.com</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
